// {{.Name}}
// is part of the return type for
// {{.QueryFuncName | func }}()
type {{.Name}} struct {
{{- if not .Required}}
edgedb.Optional
{{- end}}
{{range .Fields}}    {{.GoName}} {{.Type}} `{{.Tag}}`
{{end}}}
