// {{.Name}}
// is part of the return type for
// {{.QueryFuncName}}()
type {{.Name}} struct {
{{- if not .Required}}
gel.Optional
{{- end}}
{{range .Fields}}    {{.GoName}} {{.Type}} `{{.Tag}}`
{{end}}}
