name: Tests

on:
  push:
    branches:
      - master
      - ci
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        go-version: ["1.11", "1.12", "1.13", "1.14", "1.15"]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Set up go ${{ matrix.go-version }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.29
          working-directory: ./edgedb

      - name: Build
        working-directory: ./edgedb
        run: |
          go build .

      - name: Install EdgeDB
        env:
          OS_NAME: ${{ matrix.os  }}
          SLOT: 1-alpha4
        run: |
          curl https://packages.edgedb.com/keys/edgedb.asc \
              | sudo apt-key add -

          dist=$(awk -F"=" '/VERSION_CODENAME=/ {print $2}' /etc/os-release)
          [ -n "${dist}" ] || \
              dist=$(awk -F"[)(]+" '/VERSION=/ {print $2}' /etc/os-release)
          echo deb https://packages.edgedb.com/apt ${dist}.nightly main \
              | sudo tee /etc/apt/sources.list.d/edgedb.list

          sudo apt-get update
          sudo env _EDGEDB_INSTALL_SKIP_BOOTSTRAP=1 \
              apt-get install edgedb-${SLOT}

      - name: Test
        working-directory: ./edgedb
        env:
          EDGEDB_SLOT: 1-alpha4
        run: |
          go test ./...
