name: Tests

on:
  push:
    branches:
      - master
      - ci
  pull_request:
    branches:
      - '**'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version: ["1.17", "1.18"]
        edgedb-version: [stable, nightly]
        os: [ubuntu-latest, macos-latest, windows-2019]
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Set up go ${{ matrix.go-version }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Lint
        run: |
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.44.2
          make lint

      - name: Build
        run: |
          go build .

      - name: Setup WSL
        if: ${{ startswith(matrix.os, 'windows') }}
        uses: vampire/setup-wsl@v1
        with:
          wsl-shell-user: edgedb
          additional-packages:
            ca-certificates
            curl

      - name: Install EdgeDB
        uses: edgedb/setup-edgedb@v1
        with:
          server-version: ${{ matrix.edgedb-version }}

      - name: Test
        run: |
          make test

      - name: Exercise Benchmarks
        run: |
          # run micro benchmarks to be sure they still work
          make bench
